html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 1rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: black;
    font-size: 3rem;
  }
  .hands {
    position: absolute;
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hand {
    position: absolute;
    width: 35%;
    height: 0.5rem;
    background: black;
    transform: rotate(90deg);
    transform-origin: 100%;
    right: 50%;
    transition-timing-function: cubic-bezier(0, 3.14, 0.36, 0.93);
  }
  .hour-hand {
    width: 20%;
  }
  .time1 {
    width: 30rem;
    height: 3rem;
    margin: 0;
    padding-right: 1rem;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.twelve {
    transform: rotate(270deg);
}
.six {
    transform: rotate(270deg);
}
.time2 {
    width: 30rem;
    height: 3rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
}